<li class="catalog__novelties-card">
    <img class="catalog__novelty-image" src="<%= image %>" alt="this is our product">
    <div class="catalog__novelty-desript">
        <h3 class="catalog__novelty-title">
            <%= title %>
        </h3>
        <p class="catalog__novelty-price">
            <%= price %>
        </p>
    </div>
</li>
