<li class="delivery__card-item">
    <div class="delivery__icon-wrapper">
        <img class="delivery__card-image" src="<%= image %>" alt="this is image">
    </div>
    <p class="delivery__card-text">
        <%= text %>
    </p>
</li>
