<li class="catalog__novelty-card">
    <img class="catalog__novelty-image" src="<%= image %>" alt="<%= alternative %>">
    <div class="catalog__novelty-descript">
        <h3 class="catalog__novelty-title">
            <%= title %>
        </h3>
        <p class="catalog__novelty-price">
            <%= price %>
        </p>
    </div>
</li>
