<li class="promo-cards__item">
    <img class="promo-cards__image" src="<%= image %>" alt="this is our promo">
    <div class="promo-cards__publication">
        <h2 class="promo-cards__subtitle">
            <%= title %>>
        </h2>
        <p class="promo-cards__text">
            <%= description %>
        </p>
        <a class="promo-cards__button button__primary" href="#">
            Посмотреть
        </a>
    </div>
</li>
