<section class="hero-pay">
    <header class="header-pay">
        <div class="container header-pay__container">
            <img class="header-pay__logo" src="img/logo-1.png" alt="this is logo">
            <img class="header-pay__menu-mobile" src="img/menu-lines-header.svg" alt="this is menu">
            <div class="header-pay__circle-group">
                <div class="header-pay__circle-wrapper">
                    <div class="header-pay__circle header-pay__circle--active">
                        <div class="header-pay__circle-number header-pay__circle-number--active">1</div>
                    </div>
                    <p class="header-pay__circle-name">
                        Корзина
                    </p>
                </div>
                <div class="header-pay__circle-border header-pay__circle-border--left"></div>
                <div class="header-pay__circle-wrapper">
                    <div class="header-pay__circle">
                        <div class="header-pay__circle-number">2</div>
                    </div>
                    <p class="header-pay__circle-name">
                        Оформление заказа
                    </p>
                </div>
                <div class="header-pay__circle-border header-pay__circle-border--right"></div>
                <div class="header-pay__circle-wrapper">
                    <div class="header-pay__circle">
                        <div class="header-pay__circle-number">3</div>
                    </div>
                    <p class="header-pay__circle-name">
                        Заказ принят
                    </p>
                </div>
            </div>
        </div>
    </header>
</section>
