.hero-pay {
  padding-top: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-box-shadow);
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__logo {
  width: 82px;
  height: 100%;
  @include media-phone {
    width: 60px;
  }
}
.header__menu-mobile {
  display: none;
  @include media-phone {
    display: block;
  }
}
.header__circle-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 435px;
  @include media-phone {
    width: 100%;
  }
}
.header__circle,
.header__circle-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}
.header__circle-active {
  background-color: var(--primary-color);
}
.header__circle-number,
.header__circle-number-active {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
}
.header__circle-number-active {
  color: black;
}
.header__circle-name {
  position: absolute;
  top: 65px;
  opacity: 0.8;
  color: var(--color-secondary-400);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2;
  @include media-phone {
    top: 135px;
    font-size: 1.1rem;
    line-height: 2.5;
  }
}
.header__circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.header__circle-border {
  width: 102px;
  border-bottom: 2px dashed var(--color-background-500);
  @include media-phone {
    width: 26%;
  }
  @include media-mini-phone {
    width: 17%;
  }
}
