.order__title {
  padding-top: 32px;
  padding-bottom: 30px;
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.8;
  @include media-phone {
    padding-bottom: 20px;
    font-size: 2.6rem;
  }
}
.order__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order__client-info {
  width: 730px;
  @include media-phone {
    width: 100%;
  }
}
.order__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.order__form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  row-gap: 14px;
  @include media-phone {
    width: 100%;
  }
}
.order__form-label {
  opacity: 0.7;
  color: (--color-secondary-600);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
}
.order__input-wrapper {
  @include media-phone {
    width: 100%;
  }
}
.order__form-input {
  @include media-phone {
    width: 100%;
  }
}
.order__form-address-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-background-300);
  border-radius: 7px;
}
.order__form-inside-button {
  position: absolute;
  transform: translate(-92px, 10px);
}
.order__form-fieldset {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px 19px 10px 0;
  background-color: var(--color-shadow-200);
  @include media-phone {
    width: 100%;
  }
}
.order__form-input-textarea {
  width: 60%;
  height: 76px;
  border: none;
  background-color: inherit;
  @include media-phone {
    width: 100%;
    height: fit-content;
  }
}
.order__fieldset-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &:nth-child(2) {
    align-items: flex-end;
    @include media-phone {
      justify-content: flex-end;
    }
  }
}
.order__form-input-fieldset {
  width: 70%;
  border: none;
  background-color: inherit;
}
.order__basket {
  width: 337px;
  padding: 22px;
  box-shadow: 0 4px 28px var(--color-box-shadow-100);
  @include media-tablet {
    width: 70%;
  }
  @include media-phone {
    display: none;
    width: 100%;
  }
}
.order__basket-list {
  display: flex;
  flex-direction: column;
  height: 290px;
  margin-right: -23px;
  overflow: scroll;
  gap: 21px;
  @include media-tablet {
    gap: 9px;
    height: fit-content;
    overflow: auto;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 80%;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-background-300);
    box-shadow: inset 0 0 6px var(--color-shadow-500);
  }
}
.order__basket-title {
  padding-bottom: 23px;
  overflow: auto;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.8;
  @include media-phone {
    padding-bottom: 16px;
  }
}
.order__basket-item {
  display: flex;
  justify-content: space-between;
  color: var(--color-shadow-300);
}
.order__basket-item-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
}
.order__basket-item-description {
  opacity: 0.6;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.5;
}
.order__basket-item-price {
  margin-right: 27px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
}
.order__sum-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  @include media-phone {
    padding-top: 14px;
  }
}
.order__basket-sum {
  color: var(--color-shadow-400);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.order__basket-total-sum {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6;
}
.order__basket-free {
  padding-top: 19px;
  opacity: 0.6;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
}
.order__promo-title {
  padding-top: 40px;
  padding-bottom: 27px;
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  @include media-phone {
    padding-bottom: 14px;
    font-size: 1.8rem;
  }
}
.order__promo-group {
  @include media-tablet {
    padding-bottom: 30px;
  }
}
.order__promo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 353px;
  overflow: hidden;
  border: 2px solid var(--color-background-400);
  border-radius: 8px;
  @include media-phone {
    width: 100%;
  }
}
.order__promo-input {
  width: 100%;
  padding: 8px 24px;
  border: none;
  opacity: 0.82;
  color: var(--color-secondary-300);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.1;
}
.order__promo-button {
  padding: 8px 27px;
  border-radius: 0;
  color: var(--color-secondary-600);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.1;
}
.order__basket-mobile {
  display: none;
  @include media-phone {
    display: block;
    width: 100%;
    margin-top: 42px;
    padding: 22px;
    box-shadow: 0 4px 28px var(--color-box-shadow-100);
  }
}
