<div class="order__promo-wrapper">
    <input class="order__promo-input" type="text" name="promo" id="promo" placeholder="Введите промокод">
    <button class="order__promo-button button__primary"  type="submit">
        Применить
    </button>
</div>
