<li class="order-basket__item">
    <div class="order-basket__item-names">
        <h3 class="order-basket__item-title">
            <%= title %>
        </h3>
        <p class="order-basket__item-description">
            <%= description %>
        </p>
    </div>
    <p class="order-basket__item-price">
        <%= price %>
    </p>
</li>
