.hero {
  padding-top: 13px;
  padding-bottom: 71px;
  @include media-tablet {
    padding-bottom: 28px;
  }
  @include media-phone {
    padding-bottom: 24px;
  }
}
.header__container {
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }
}
.header__upper-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-tablet {
    flex-grow: 1;
  }
}
.header__upper-wrapper {
  display: flex;
  align-items: center;
  gap: 52px;
}
.header__upper-item {
  @include media-tablet {
    display: none;
  }
}
.header__item-description {
  display: flex;
  padding-bottom: 9px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.17;
  gap: 6px;
}
.header__subtitle-city {
  color: var(--color-text-yellow);
}
.header__item-yandex {
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  gap: 20px;
}
.header__yandex-descript {
  display: flex;
  gap: 7px;
  align-items: center;
}
.header__round {
  width: 4px;
  height: 4px;
  border: 2px solid var(--color-red-dot);
  border-radius: 50%;
}
.header__upper-phone-wrapper {
  gap: 28px;
  display: flex;
  align-items: center;
}
.header__call-button {
  display: inline-block;
  width: 180px;
  padding: 7px 0;
  border-radius: 28px;
  background: var(--color-button-call-back);
  color: var(--color-button-link);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  @include media-tablet {
    display: none;
  }
}
.header__phone-number {
  color: var(--color-text-yellow);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.19;
  @include media-phone {
    display: none;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 31px;
  @include media-tablet {
    padding-top: 0;
    padding-bottom: 0;
    gap: 21px;
  }
}
.header__list {
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.19;
  @include media-tablet {
    display: none;
  }
}
.header__menu-bar {
  display: none;
  @include media-tablet {
    display: block;
  }
}
.header__enter-link {
  color: var(--color-button-link);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  @include media-tablet {
    display: none;
  }
}
.header__shop-button {
  display: inline-block;
  width: 160px;
  padding: 7px 0;
  border-radius: 8px;
  background: var(--color-text-yellow);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  text-align: center;
  @include media-phone {
    display: none;
  }
}
.header__shop-link {
  margin-right: 14px;
  padding-right: 14px;
  border-right: 2px solid black;
}
.header__slider {
  display: flex;
  justify-content: center;
}
.header__slider-arrow-l {
  padding: 20px;
  @include media-tablet {
    display: none;
  }
}
.header__slider-arrow-r {
  padding: 20px;
  transform: scale(-1, 1);
  @include media-tablet {
    display: none;
  }
}
.header__slider-img {
  @include media-tablet {
    width: 100%;
  }
  @include media-mini-phone {
    width: 213px;
  }
}
