<li class="basket__position">
    <img class="basket__position-image" src="<%= image %>" alt="this is your position">
    <div class="basket__position-description">
        <h3 class="basket__position-title">
            <%= title%>
        </h3>
        <p class="basket__position-text">
            <%= description %>
        </p>
    </div>
    <p class="basket__position-price">
        <%= price %>
    </p>
    <div class="basket__position-amount">
        <button class="basket__position-amount-minus-button">
            -
        </button>
        <input class="basket__position-amount-input" type="number" name="position-amount" id="amount" value="1">
        <button class="basket__position-amount-plus-button">
            +
        </button>
    </div>
    <button class="basket__position-amount-cross-button"></button>
</li>
