.bonus {
  margin-top: -45px;
  padding-bottom: 41px;
  background-color: var(--color-delivery-back);
}
.bonus__title {
  padding-top: 43px;
  padding-bottom: 33px;
  color: var(--color-text-yellow);
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.2;
}
.bonus__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 338px;
  margin-bottom: 42px;
  padding: 38px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 28px rgb(0 0 0 / 8%);
}
.bonus__link-image {
  width: 121px;
  padding-bottom: 32px;
}
.bonus__subtitle {
  color: var(--color-menu-catalog-description);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.bonus__all {
  padding-bottom: 3px;
  border-bottom: 2px dashed;
  color: var(--color-text-yellow);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
