.profile__title {
  padding-top: 57px;
  padding-bottom: 24px;
  color: var(--color-text-yellow);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}
.profile__list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
}
.profile__form-label {
  @include form-text;
  color: var(--color-button-arr);
  padding-bottom: 6px;
  opacity: 0.8;
}
.profile__change-input-container {
  @include change-input-container;
}
.profile__form-input {
  @include form-text;
  @include plain-input;
  font-size: 1.8rem;
  opacity: 0.82;
}
.profile__form-input__grey {
  background-color: var(--color-info-radio);
}
.profile__form-save-button {
  @include button-form;
  position: absolute;
  transform: translate(360px, 45px);
  color: var(--color-back-text);
}
.profile__form-cancel-button {
  @include button-form;
  position: absolute;
  transform: translate(360px, 45px);
}
.profile__form-code-info {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  opacity: 0.7;
}
.profile__data-birth {
  @include plain-input;
  display: flex;
}
.profile__form-input__day {
  width: 80px;
  height: 100%;
  border-radius: 0;
  border: none;
  border-right: var(--color-delivery-back) 1.5px solid;
  padding-left: 0;
}
.profile__form-input__month {
  width: 100%;
  height: 100%;
  border: none;

}
