.profile__title {
  padding-top: 57px;
  padding-bottom: 24px;
  color: var(--color-text-yellow);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}
.profile__list-item {
  display: flex;
  flex-direction: column;
}
.profile__form-label {
  @include form-text;
  color: var(--color-button-arr);
  padding-bottom: 6px;
  opacity: 0.7;
}
.profile__change-input {
  @include change-input;
}
.profile__form-input {
  @include form-text;
  font-size: 1.8rem;
  opacity: 0.82;
  border: none;
  background-color: inherit;
}
.plain__input {
  @include plain-input;
}
.plain__input-grey {
  @include plain-input-grey;
}
.profile__form-res-button {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.86;
  color: var(--color-text-yellow);
  background: none;
  border: none;
}
.profile__form-code-info {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  opacity: 0.7;
}
