.profile__title {
  padding-top: 57px;
  padding-bottom: 24px;
  color: var(--color-text-yellow);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}
.profile__list-item {
  display: flex;
  flex-direction: column;
}
.profile__form-label {
  @include form-text;
  color: var(--color-button-arr);
  padding-bottom: 6px;
  opacity: 0.7;
}
.profile__form-input {
  width: 350px;
  height: 48px;
  border: 1.5px solid var(--color-delivery-back);
  border-radius: 8px;
  background: rgb(241 242 245 / 60%);
  padding: 10px;
  margin-bottom: 9px;
  @include form-text;
  font-size: 1.8rem;
  opacity: 0.82;
}
.profile__form-code-info {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  opacity: 0.7;
}
