:root {
  --color-text-yellow: #f7d22d;
  --color-button-call-back: #f3f3f7;
  --color-button-link: #696f7a;
  --color-red-dot: #ff2e65;
  --color-box-shadow: rgb(0 0 0 / 6%);
  --color-menu-catalog: #797979;
  --color-menu-catalog-descript: #686466;
  --color-delivery-back: #e3ecf5;
  --color-text: #473e43;
}
* {
  box-sizing: border-box;
}
body,
html {
  font-family: Montserrat, serif;
  font-size: 10px;
}
.container {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  @include media-tablet {
    width: 96%;
  }
  @include media-phone {
    width: 90%;
  }
}
.container-bg {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  @include media-tablet {
    width: 96%;
  }
}
