:root {
  --color-text-yellow: #F7D22D;
  --color-button-call-back: #F3F3F7;
  --color-button-link: #696F7A;
  --color-red-dot: #FF2E65;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat';
  font-size: 10px;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.container-bg {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}