@mixin media-max-lap {
  @media (max-width: 1410px) {
    @content;
  }
}
@mixin media-medium-lap {
  @media (max-width: 1384px) {
    @content;
  }
}
@mixin media-small-lap {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin media-tablet {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media-max-tablet {
  @media (max-width: 1168px) {
    @content;
  }
}
@mixin media-phone {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin media-mini-phone {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin form-text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
}
@mixin plain-input {
  width: 350px;
  height: 48px;
  padding-left: 15px;
  border: 1.5px solid var(--color-delivery-back);
  border-radius: 8px;
}
@mixin button-form {
  width: fit-content;
  border: none;
  background: none;
  color: var(--color-text-yellow);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.86;
}
@mixin change-input-container {
  @include plain-input;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px 0 0;
  & > input {
    border: none;
    background-color: inherit;
  }
  & > button {
    @include button-form;
  }
}
