@mixin media-max-lap {
  @media (max-width: 1410px) {
    @content;
  }
}
@mixin media-medium-lap {
  @media (max-width: 1384px) {
    @content;
  }
}
@mixin media-small-lap {
  @media (max-width: 1280px) {
    @content;
  }
}
@mixin media-tablet {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin media-phone {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin media-mini-phone {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin form-text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2;
}
@mixin plain-input {
  width: 350px;
  height: 48px;
  border: 1.5px solid var(--color-delivery-back);
  border-radius: 8px;
  padding: 10px;
}
@mixin plain-input-grey {
  @include plain-input;
  background: rgb(241 242 245 / 60%);
}
@mixin change-input {
  @include plain-input;
  display: flex;
  margin-bottom: 9px;
  justify-content: space-between;
  align-items: center;
}
